.App {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4%;
  cursor: pointer;
}

.input-contain {
  width: 20%;
  height: 50px;
  border-radius: 15px;
}

input {
  width: 100%;
  border: 2px solid #000;
  height: 100%;
  border-radius: 15px;
}

::placeholder {
  padding: 35%;
  font-size: 22px;
  background-image: radial-gradient(
    circle at top right,
    rgb(36, 9, 119) 0%,
    rgb(36, 9, 119) 48%,
    rgb(72, 7, 149) 48%,
    rgb(72, 7, 149) 53%,
    rgb(109, 5, 178) 53%,
    rgb(109, 5, 178) 56%,
    rgb(145, 2, 208) 56%,
    rgb(145, 2, 208) 69%,
    rgb(181, 0, 237) 69%,
    rgb(181, 0, 237) 100%
  );
}
